<nav class="navbar is-fixed-top is-dark">
  <div class="container is-widescreen">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        {{ config.courseName }}
        <!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
      </a>
    </div>
  </div>
</nav>

<!-- <span id="left-border"></span>
<span id="right-border"></span> -->

<div id="main-container" class="container is-widescreen">
  <router-outlet></router-outlet>
</div>